// Copyright (C) 2024 Genome Research Ltd.

manifest {
    name            = "insert-your-repo-name-here"
    version         = "insert-your-version-number-here"
    author          = "PAM Informatics"
    homePage        = "insert-your-repo-url-here"
    description     = "insert-your-description-here"
    mainScript      = "main.nf"
    nextflowVersion = '>=21.04.0'
}
