// Copyright (C) 2024 Genome Research Ltd.

// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}

// include local copy of the PaM generic config with renamed standard profile
inherit_generic_config("${projectDir}/configs/pam_generic_base.config")

manifest {
    name            = 'pannotator'
    author          = 'IMBG & PAM Informatics'
    homePage        = 'https://github.com/sysbio-vo/pannotator'
    description     = 'Scalable pangenome-based bacterial genome annotation tool'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.1.5'
    recurseSubmodules = true
}

params {
    // Logging options
    monochrome_logs = false

    // Input file extension
    infile_extension = "" // empty string by default - all files from the indir are considered as input

    // Output options
    outdir = "./pannotator_results"

    // Intermediate files
    save_intermediate = false

    // scratch is false by default
    // when set to true, the logs of the Bakta processes are not 
    // copied to the Nextflow workdirs
    // might be useful for some (cloud) executors
    scratch = false

    // Buffer is the number of genomes processed at once in a process
    // Set to 1 means a genome per cds/rna search but batching by 1000 
    // means significantly fewer workdir-persistent intermediate files when 
    // processing large numbers of genomes. This buffer size has however to
    // be set to meet the smaller denominator of the time requirements 
    // for the FIND_CDS, FIND_RNAS and SORF_EXTRA processes, as they 
    // differ significantly (see below).
    buffer_size = 250

    // TODO: add debug flag that sets save_intermediate to `true` and turns on extra logging

    // Bakta settings
    bakta_db_dir = get_bakta_db_dir() // TODO: download bakta db if not found under this path
    bakta_db_type = "light" // `light|full`
    bakta_db = get_bakta_db_path()

    bakta_args = "" // TODO: define parameters explicitly
    compliant = false

    // Bakta expert systems parameters
    user_proteins = null
    user_hmms = null

    // Sequence clustering
    mmseqs_clusterPrefix = "mmseqs_clustering"
    mmseqs_tmpDir = "mmseqs_clustering"
    mmseqs_command = "easy-linclust" // TODO: allow selecting different clustering methods

    mmseqs_clustering = 'strict'
    mmseqs_min_seq_id = 1.0
    mmseqs_cov_mode = 0
    mmseqs_min_coverage = 1.0
    mmseqs_alignment_mode = 3
    mmseqs_args = (params.mmseqs_clustering == "strict") ? "--min-seq-id 1.0 -c 1.0 --alignment-mode 3 --cov-mode 0" : "--min-seq-id ${params.mmseqs_min_seq_id} -c ${params.mmseqs_min_coverage} --alignment-mode ${params.mmseqs_alignment_mode} --cov-mode ${params.mmseqs_cov_mode}"
    // reuse annotations in subsequent runs by providing auxiliary_db path
    auxiliary_db = null
    extend_auxdb = false

    //Output settings
    bundle_gff3 = true // whether to bundle the final gff3 files into batch tarballs. If false, publish the individual gff3 files. If true, the individual gff3 files will be deleted form the work folder after the tarball is created. 
    save_intermediate = false // whether to save intermediate files or not
}

process {
    // TODO: see how this matches with PaM's generic config

    // use temporary directory local to the execution node
    scratch = params.scratch

    errorStrategy = { (task.exitStatus in 137..140 || task.exitStatus == 130) ? 'retry' : 'terminate' }
    maxRetries = 5

    // match resource requirements from the Annotate-bakta PaM module 
    cpus = { 4 * task.attempt } // cpu_4
    memory = { 2.GB * task.attempt } // mem_2

    // per-genome (batch) tasks
    withName: FIND_CDS {
        scratch = true
        cpus = { 2 * task.attempt } // cpu_2
        memory = { 1.GB * task.attempt } // mem_1
        time = { 12.h * task.attempt } // a typical bakta --cds-only task takes 6-8s and less than 12s, so can schedule up to 3600 of those in one batch to fit into a 12h task job (the minimal time to be booked on Sanger LSF is 12h through the normal queue)
    }

    withName: FIND_RNAS {
        scratch = true
        cpus = { 4 * task.attempt } // cpu_4
        memory = { 2.GB * task.attempt } // mem_2
        // TODO fix conditional default value below
        // time = ("${params.find_rnas_buffer_size}".toInteger() > 70) ? { 48.h * task.attempt } : { 12.h * task.attempt } // a typical bakta --rna-only task takes 3-5min and less than 10min, so can schedule up to 72 / 288 of those in one batch to fit into a 12h / 48h task job
        time = { 48.h * task.attempt }
    }

    withName: SORF_EXTRA {
        scratch = true
        cpus = { 8 * task.attempt } // cpu_4
        memory = { 2.GB * task.attempt } // mem_2
        time = { 12.h * task.attempt } // a typical bakta --sorf-extra task takes 30-60s and less than 90s, so can schedule up to 480 of those in one batch to fit into a 12h task job (the minimal time to be booked on Sanger LSF is 12h through the normal queue)
    }

    // unique tasks
    withName: CLUSTER_SEQS {
        cpus = { 8 * task.attempt } // cpu_8
        memory = { 8.GB * task.attempt } // mem_8
    }

    withName: ANNOTATE_PROTEINS_MODULE {
        cpus = { 8 * task.attempt } // cpu_48
        memory = { 32.GB * task.attempt } // mem_32
	    time = { 2.h * task.attempt } // time_2
    }

    withName: PARSE_BAKTA_JSON_ANNOTATIONS {
        cpus = { 2 * task.attempt } // cpu_2
        memory = { 8.GB * task.attempt } // mem_8
    }

    withName: DETECT_PSEUDOGENES {
        cpus = { 8 * task.attempt } // cpu_16
        memory = { 16.GB * task.attempt } // mem_32
    }

    // containers used by docker/singularity profiles
    withLabel:bakta {
        // container = 'quay.io/d_goryslavets/bakta_pannotator:1.12.0-pannotator.5'
        container = 'quay.io/d_goryslavets/bakta_pannotator:1.12.0-pannotator.5_test_bulk_mode2'
    }
    withLabel:clustering {
        container = 'quay.io/d_goryslavets/mmseqs2_pannotator:17-b804f-pannotator.1' 
    }

    conda = "${projectDir}/environment/pannotator.yaml"
}



profiles {
    // default profile is overriden
    standard {
        // no other configuration needed for local execution
        process.executor = 'local'
    }

    // sanger_lsf is based on the PaM's config standard profile
    sanger_lsf {
        executor {
            jobName = { "Pannotator - ${task.process} - ${task.hash}" }
        }
    }

    // same as `conda`, but executed on LSF
    conda_lsf {
        conda.enabled = true
        singularity.enabled = false
        docker.enabled = false
        executor {
            name = 'lsf'
            perJobMemLimit = true
            jobName = { "Pannotator - ${task.process} - ${task.hash}" }
        }
    }

    production {
        scratch = true

    }
}

// profiles {
// 
//     lsf {
//         executor {
//             name = 'lsf'
//             queueSize = 100
//             pollInterval = '5 sec'
//             jobName = { "pannotator - ${task.process} - ${task.hash}" }
//             perJobMemLimit = true
//         }
// 
//         process {
//             cpus = 8
//             memory = '8 GB'
//             queue = 'normal'
//         }
//     }
// }

// Helper functions
def inherit_generic_config(localConfigPath = null) {

    def configSource

    if ( localConfigPath ) {
        configSource = localConfigPath
    } else {
        configSource = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    }

    try {
        includeConfig "${configSource}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}

def get_absolute_path(relative_path) {
    def relative_file = new File(relative_path)
    def absolute_path = relative_file.getAbsolutePath()
    return "${absolute_path}"
}

def get_bakta_db_dir() {
    def default_dir = "bakta_db"
    return get_absolute_path(default_dir)
}

def get_bakta_db_path() {
    if ( params.bakta_db_type == 'light' ) {
        relative_db_path = "${bakta_db_dir}/db-light"
    } else if ( params.bakta_db_type == 'full' ) {
        relative_db_path = "${bakta_db_dir}/db"
    }
    else {
        System.err.println("ERROR: Bakta database type ${params.bakta_db_type} is not recognised")
        throw new IllegalArgumentException("ERROR: Bakta database type ${params.bakta_db_type} is not recognised")
    }

    def absolutePath = get_absolute_path(relative_db_path)

    return "${absolutePath}"
}
