// Copyright (C) 2024 Genome Research Ltd.

// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = 'pannotator'
    author          = 'IMBG & PAM Informatics'
    homePage        = 'https://github.com/sysbio-vo/pannotator'
    description     = 'Scalable pangenome-based bacterial genome annotation tool'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.0.1'
    recurseSubmodules = true
}

params {
    // Logging options
    monochrome_logs = false

    // Output options
    outdir = "./pannotator_results"

    bakta_db = null // TODO: download bakta db if not found
    bakta_args = ""

    // sequence clustering
    params.mmseqs_clusterPrefix = "mmseqs_clustering"
    params.mmseqs_tmpDir = "mmseqs_clustering"
    params.mmseqs_command = "easy-linclust" // TODO: allow selecting different clustering methods
    params.mmseqs_args = "--min-seq-id 1"
}

process {
    maxRetries = params.max_retries

    withName: 'CLUSTER_SEQS|ANNOTATE_PROTEINS' {
        cpus = Runtime.runtime.availableProcessors()
    }

}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
